.container.about_us
    .row
        .col-sm-12.col-md-12.col-lg-12
          .about О нас
        .row
            .col-sm-12.col-md-12.col-lg-12
                .all_text
                    .row
                        .col-sm-12.col-md-12.col-lg-6
                            .about_text Вся продукция предлагаемая нами, обладает высоким качеством. На все электро товары предоставляется гарантия.
                                |Мы готовы к различным формам сотрудничества, готовы рассматривать различные условия оплаты и поставки товаров.
                                |Мы организуем доставку товара до объекта в любом регионе Украины.
                                |Большой ассортимент сопутствующих товаров необходимых для работы высоковольтных энергосистем:
                                |Разрядники серии РВО, РВС (цена, описание, характеристики)
                                |Ограничители перенапряжений, полимерные на 6 кВ, 10 кВ, 35 кВ, 110 кВ,  150 кВ. (цена, описание, характеристики)
                        .col-sm-12.col-md-12.col-lg-5.offset-lg-1
                            .about-image(style='background-image: url(/assets/images/artprod-3.jpg); height:400px;background-repeat:no-repeat;')


    .row
        .col-sm-12.col-md-12.col-lg-12
            .about Оборудование
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        .all
                            .row
                                .col-lg-6.col-sm-12.col-md-8
                                    .all-block
                                        .name-txt Разъединители серии РВ, РВЗ
                                        .block
                                            .product(style='background: url(/assets/images/4.png); height:410px;background-repeat:no-repeat;')
                                            .save
                                                .info(style='display:inline-block;padding-right:30px')
                                                    a(href='')
                                                        img.foto(src='/assets/images/information.png')
                                                    img.hover( data-toggle='modal' data-target='#exampleModalCenter' src='/assets/images/infor.png')
                                                .pdf(style='display:inline-block')
                                                    a(href='#')
                                                        img.foto(src='/assets/images/pdf-file.png')
                                                        img.hover(src='/assets/images/pdf.png')
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .buy
                                                    .row
                                                        .col-sm-8.col-md-8.col-lg-8
                                                            select.input(name='carlist')
                                                                option(value='all') Все разъединители
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                        .col-sm-4.col-md-4.col-lg-4
                                                            button.button Заказать
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .abouttext Разъединитель — контактный коммутационный аппарат, предназначенный для коммутации электрической цепи без тока или с незначительным током, который для обеспечения безопасности имеет в отключенном положении изоляционный промежуток.
                                .col-lg-6.col-sm-12.col-md-8
                                    .all-block
                                        .name-txt Разъединители серии РЛН, РЛНЗ
                                        .block

                                            .product(style='background: url(/assets/images/rln.jpg); height:410px;background-repeat:no-repeat;')
                                            .save
                                                .info(style='display:inline-block;padding-right:30px')
                                                    a(href='')
                                                        img.foto(src='/assets/images/information.png')
                                                    img.hover( data-toggle='modal' data-target='#exampleModalCenter' src='/assets/images/infor.png')
                                                .pdf(style='display:inline-block')
                                                    a(href='#')
                                                        img.foto(src='/assets/images/pdf-file.png')
                                                        img.hover(src='/assets/images/pdf.png')
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .buy
                                                    .row
                                                        .col-sm-8.col-md-8.col-lg-8
                                                            select.input(name='carlist')
                                                                option(value='all') Все разъединители
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                        .col-sm-4.col-md-4.col-lg-4
                                                            button.button Заказать
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .abouttext Разъединитель — контактный коммутационный аппарат, предназначенный для коммутации электрической цепи без тока или с незначительным током, который для обеспечения безопасности имеет в отключенном положении изоляционный промежуток.

                            .row
                                .col-lg-6.col-sm-12.col-md-8
                                    .all-block
                                        .name-txt Разъединители серии РВ, РВЗ
                                        .block

                                            .product(style='background-image: url(/assets/images/4.png); height:410px;background-repeat:no-repeat;')
                                            .save
                                                .info(style='display:inline-block;padding-right:30px')
                                                    a(href='')
                                                        img.foto(src='/assets/images/information.png')
                                                    img.hover( data-toggle='modal' data-target='#exampleModalCenter' src='/assets/images/infor.png')
                                                .pdf(style='display:inline-block')
                                                    a(href='#')
                                                        img.foto(src='/assets/images/pdf-file.png')
                                                        img.hover(src='/assets/images/pdf.png')
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .buy
                                                    .row
                                                        .col-sm-8.col-md-8.col-lg-8
                                                            select.input(name='carlist')
                                                                option(value='all') Все разъединители
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                        .col-sm-4.col-md-4.col-lg-4
                                                            button.button Заказать
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .abouttext Разъединитель — контактный коммутационный аппарат, предназначенный для коммутации электрической цепи без тока или с незначительным током, который для обеспечения безопасности имеет в отключенном положении изоляционный промежуток.

                                .col-lg-6.col-sm-12.col-md-8
                                    .all-block
                                        .name-txt Разъединители серии РЛН, РЛНЗ
                                        .block

                                            .product(style='background-image: url(/assets/images/rln.jpg); height:410px;background-repeat:no-repeat;')
                                            .save
                                                .info(style='display:inline-block;padding-right:30px')
                                                    a(href='')
                                                        img.foto(src='/assets/images/information.png')
                                                    img.hover( data-toggle='modal' data-target='#exampleModalCenter' src='/assets/images/infor.png')
                                                .pdf(style='display:inline-block')
                                                    a(href='#')
                                                        img.foto(src='/assets/images/pdf-file.png')
                                                        img.hover(src='/assets/images/pdf.png')
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .buy
                                                    .row
                                                        .col-sm-8.col-md-8.col-lg-8
                                                            select.input(name='carlist')
                                                                option(value='all') Все разъединители
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='400') Разъединитель РВ-10/400 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                                option(value='630') Разъединитель РВ-10/630 УХЛ2
                                                        .col-sm-4.col-md-4.col-lg-4
                                                            button.button Заказать
                                        .row
                                            .col-sm-12.col-md-12.col-lg-12
                                                .abouttext Разъединитель — контактный коммутационный аппарат, предназначенный для коммутации электрической цепи без тока или с незначительным током, который для обеспечения безопасности имеет в отключенном положении изоляционный промежуток.




            #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLongTitle.modal-title Разъединители серии РВ, РВЗ
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            | Вся продукция предлагаемая нами, обладает высоким качеством.
                            | На все электро товары предоставляется гарантия.
                            | Мы готовы к различным формам сотрудничества, готовы рассматривать различные условия оплаты и поставки товаров.
                            | Мы организуем доставку товара до объекта в любом регионе Украины.
                            |
                            | Большой ассортимент сопутствующих товаров необходимых для работы высоковольтных энергосистем:
                            | Разрядники серии РВО, РВС (цена, описание, характеристики)
                            | Ограничители перенапряжений, полимерные на 6 кВ, 10 кВ, 35 кВ, 110 кВ,  150 кВ. (цена, описание, характеристики)
                        .modal-footer
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Закрыть