.advantage
    .container
        h4.h4-advantage Наши преимущества
        .description
            .row
                .col-lg-3
                    .advantages
                        h5.h5-description 15
                        p.p-description лет опыта
                .col-lg-3
                    .advantages
                        h5.h5-description 120
                        p.p-description экспертов
                .col-lg-3
                    .advantages
                        h5.h5-description 200
                        p.p-description проектов в год
                .col-lg-3
                    .advantages
                        h5.h5-description 20820
                        p.p-description клиентов
