.block1
    .container
        h1.h1-block1 Высоковольтное и низковольтное оборудование “УкрЭлектро”
        .block-like
            .row
                .col-lg-4
                    .like
                        h4.h4-block-like Гарантия качества
                        img(src='/assets/images/like.png', alt='').img-block-like
                .col-lg-4
                    .like
                        h4.h4-block-like Гарантия качества
                        img(src='/assets/images/like.png', alt='').img-block-like
                .col-lg-4
                    .like
                        h4.h4-block-like Гарантия качества
                        img(src='/assets/images/like.png', alt='').img-block-like


