.footer
    .container
        .footer-content-1
            .logo-content
                .logo-img
                    img.logo(src="/../assets/images/logo.png")
        .row
            .col-4

                    .footer-list
                       .footer-menu
                            a(href="#") О нас
                            a.padd(href="#") Оборудование
                            a(href="#") Контакты
            .col-4
                .footer-content-2
                    .footer-address
                        | Украина
                        br
                        | Запорожская область
                        br
                        | Запорожье
                        br
                        | ул. Седова
                        br
                        | 69000
            .col-4
                .footer-content-3
                    .footer-numbers
                        a(href="tel:+38 067 828-48-48") +38 067 828-48-48
                        a(href="tel:+38 067 634-66-21") +38 067 634-66-21
                        a(href="tel:+38 061 701-39-15") +38 061  701-39-15
        .copyright.text-center
            .copyright-text Copyright &copy;2017 Codevery. All Rights Reserved
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
