include ../../../../src/pug/_head
include ../../../../src/pug/_header
include ../../../../src/pug/_block-1
include ../../../../src/pug/_advantages
include ../../../../src/pug/_about
include ../../../../src/pug/_contacts
include ../../../../src/pug/_map
include ../../../../src/pug/_footer
