.email-block.ml-auto
    .email-icon-container
        .email-icon
            i.fas.fa-envelope
    .emails
        a.email(href="mailto:stk6122211@gmail.com") stk6122211@gmail.com
        a.email(href="mailto:6122255@i.ua") 6122255@i.ua