.container.container-mobile
    .content-footer.content-contacts.d-flex
        .block-footer-2.order-lg-1.order-sm-2.order-xs-3
            .logo.order-lg-1.order-sm-2.order-xs-3
                img.logo(src='/assets/img/logo.png' alt='')
        .block-footer-3.order-lg-2.order-sm-3.order-xs-3.ml-auto
            .order-lg-2.order-sm-3.order-xs-3.ml-auto
                include _email-block
        .block-footer-1.order-lg-3.order-sm-1.order-xs-1
            .order-lg-3.order-sm-1.order-xs-1
                include _phone-block



    p.text-center.adress Украина, г. Запорожье 6900, ул. Ваша Улица д. 808, этаж 8, офис 888










