.phone-block
    .phone-icon-container
        .phone-icon
            i.fas.fa-phone
    .phones
        a.phone(href="tel:067-612-22-11") 067-612-22-11
        a.phone(href="tel:067-612-22-55") 067-612-22-55

